.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(6, 26, 24),
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  background-size: 200% 200%;
  animation: opa 5s linear infinite;
}
.animation {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(0, 0, 0)) !important;
  background-size: 200% 200%;
}

@keyframes opa {
  0% {
    background-position: 100% 100%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 0%, 0%;
  }
  75% {
    background-position: -50% -50%;
  }
  100% {
    background-position: -100%, -100%;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "League Spartan", sans-serif;
  background-color: black;
}

.cont {
  margin: 0 auto;
  margin-bottom: 10%;
  display: grid;
  max-width: 1100px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 100px;
  padding-top: 150px;
}

.cards {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  position: relative;
  width: 100%;
  flex-direction: column;
  margin-left: -55% !important;
}

.card-front {
  display: grid;
  /* min-width: 100%; */
  background: linear-gradient(40deg, rgb(19, 74, 71) 40%, #38a4ac);
  box-shadow: 0 0 15px rgb(255, 255, 255);
  border-radius: 15px;
  width: 550px !important;
  height: 300px !important;
  overflow: hidden !important;
  position: relative !important;
}

.card-back img {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-conteudo {
  grid-area: 1/1;
  z-index: 9;
  padding: 30px;
  color: hsl(0, 0%, 100%);
  display: grid;
}

.card-conteudo img {
  margin-bottom: 25px;
}

.card-conteudo p {
  font-size: 1.5rem;
  letter-spacing: 6px;
  margin-bottom: 0px;
}
.cardName {
  margin-top: 50px;
}
.card-conteudo span {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 22px;
}

.card-back {
  display: grid;
  align-items: center;
  position: relative;
  left: 60px;
  box-shadow: 0 0 15px rgb(255, 255, 255);
  border-radius: 15px;
  width: 550px !important;
  height: 300px !important;
}
#val {
  margin-top: 50px;
}
.card-back span {
  padding-left: 410px;
}

.title_top {
  color: rgb(39, 182, 158);
  text-shadow: 0 0 10px black;
  text-align: center;
  background: rgb(11, 48, 45);
  margin-top: 4%;
  margin-bottom: -5%;
  padding: 2%;
}

.formulario {
  display: grid;
  grid-template-columns: 100px 100px auto;
  gap: 25px;
  padding: 15%;
  border-radius: 40px;
  width: 130%;
  margin-left: 10%;
  background: linear-gradient(
    30deg,
    rgb(21, 101, 88),
    transparent,
    transparent,
    rgb(11, 52, 45)
  );
  box-shadow: 0 0 15px rgb(255, 255, 255);
  /* box-shadow: inset 0px 0px 150px #143a33, 0 0 15px rgb(255, 255, 255); */
}

.formulario label {
  margin-bottom: 15px;
  font-size: 22px;
  text-transform: uppercase !important;
  color: rgb(23, 157, 148);
  font-weight: bold;
}

.formulario input {
  outline: none;
  border: solid 1px #dedddf;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  letter-spacing: 2px;
  min-height: 25px;
  padding: 0px 10px 0px 15px;
  background: transparent;
  border: none;
  border-bottom: 3px solid #1f5a50;
  outline: none;
  line-height: 25px;
  margin-bottom: 5px;
  font-family: "League Spartan", sans-serif;
}

.formulario input::placeholder {
  color: #508b88;
  font-size: 22px;
  font-weight: bold;
}
#number {
  margin-top: 70px;
}
.form-name,
.form-number,
button {
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
}
.bottom-text{
  margin: 0px 0 0 -15px  !important;

}
.top-text{
  margin: -2px 0 0 -25px  !important;

}
.appstore-button svg{
  margin: 0px 0px 0 -100px  !important;

}

.form-date {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-date input {
  max-width: 80px;
}

.form-date label {
  grid-column: 1/-1;
}

.form-cvc {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: rgb(17, 114, 108);
  display: flex;
  border-radius: 6px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 22px;
}

button:hover {
  background-color: rgb(8, 56, 53);

  transition: ease-in-out 0.5s;
}

.obrigado {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  display: none;
  color: #fff;
}

.obrigado img {
  width: 80px;
  align-self: center;
}

.obrigado button {
  width: 100%;
  margin-top: 50px;
  background-color: #0f3630;
}

.card-front-dados {
  display: flex;
}

@media (max-width: 1030px) {
  .formulario {
    color: #fff;
    margin-bottom: 30px;
  }
  .background {
    transform: rotate(90deg);
    background-size: cover;
  }
  button {
    background-color: rgb(35, 146, 124) !important;
  }

  .cards {
    flex-direction: row-reverse;
    gap: 0;
    position: relative;
  }

  .card-front {
    z-index: 10;
    position: absolute;
    top: 100px;
    left: -100px;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 120px;
  }
}

@media (max-width: 727px) {
  .background {
    background-image: url("../images/bg-main-mobile.png");
    background-size: 100vh 50vw;
    transform: none;
  }
  .formulario {
    color: black;
  }
}

.accept {
  background-color: rgb(166, 239, 166);
}
.remove {
  background-color: rgb(213, 97, 97);
}

.imgsCard {
  display: flex;
  width: 100%;
  height: 100%;
}

.logoTecnomade {
  width: 60%;
  position: absolute;
  left: 50%;
  top: -25%;
  filter: drop-shadow(0 0 10px rgb(37, 37, 37));
}

.bloco_alerta{
  height: 100%;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.877);
  top: 0;
  position: absolute;
  z-index: 10;
  transition: opacity 1s ease;
  animation: fadeIn 2s ease forwards;
}

.card_alerta{
    background-color: black;
    width: 1145px;
    padding: 80px 50px 50px 50px; 
    border-radius: 20px;
    border: 5px solid #00917e;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    filter: drop-shadow( 0 0 60px #00917e);
    transition: opacity 1s ease;
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


h2.Tt_alert {
  color: rgb(0, 128, 111);
  font-size: 38pt;
  margin-bottom: 35px;
}

h2.text_equipe_tt {
  color: rgb(0, 128, 111);
  font-size: 20pt;
  position: relative;
  margin: 25px 745px 25px 0;
}

.card_alerta p {
  color: #6c757d;
  text-align: justify;
  font-size: 18pt;
}

.bnt_close_aleta{
  position: absolute;
  top: 40px;
  right: 40px;
  height: 50px;
  width: 50px;
  fill: #00917e;
}

.bnt_close_aleta:hover{
    transform: scale(1.2);
    filter: drop-shadow( 0 0 20px #00917e);
  }

  .header {
    height: 80px;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(0deg, transparent, rgb(0, 128, 111));
    height: 90px;
    font-family: "League Spartan", sans-serif;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 9;
    transition: background-color 0.3s ease;
}

.logo {
  display: block;
  width: auto !important;
  height: 80px;
  object-fit: cover;
  padding: 10px;
  filter: drop-shadow(2px 4px 6px black);
  float: left;
  margin-top: -20px;
}


  .footer_sigle_slim{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
    height: 90px;
    text-align: center;
    background: linear-gradient(180deg, transparent, rgb(0, 128, 111));
}

.footer_sigle_slim p { margin: 0 !important; }
.footer_sigle_slim a {
    color: #00917e;
    font-size: 18pt;
}