body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black !important;
}

.container {
  width: 80%;
  height: 100%;
  padding-top: 5%;
  background-color: rgb(0, 0, 0);
  margin-top: 10%;
  display: flex;
  margin: auto;
  justify-content: center;
overflow: hidden;
position: relative;
  
}
.cont_pf {
}
.area {
  
}
.container .imgPf{
  width: 250px;
  height: 350px;
  text-align: center;
  display: flex;
  position: relative;
  border-radius: 5%;
  padding: 5px;
  margin-bottom: 0;
  border: 5px solid rgb(13, 107, 91);
  object-fit: cover;
  top: 30%;
  transform: translateY(-50%);
  transition: 1s;
  margin: 0 15px 0 15px;
  background-color: #0f3630;
  
}
.back_imgPf{
  width: 250px;
  height: 350px;
  text-align: center;
  display: flex;
  position: relative;
  border-radius: 5%;
  padding: 5px;
  margin-bottom: 0;
  border: 5px solid rgb(13, 107, 91);
  object-fit: cover;
  top: 30%;
  transform: translateY(-50%);
  transition: 1s;
  margin: 0 15px 0 15px;
  background: url('/imgs/user.png');
}
.imgPf_cad{
  margin-left: 50px !important;
}
.container .imgPf_edit {
  width: 250px;
  height: 350px;
  text-align: center;
  display: flex;
  position: relative;
  border-radius: 5%;
  padding: 5px;
  margin-bottom: 0;
  border: 5px solid rgb(13, 107, 91);
  object-fit: cover;
  top: 30%;
  transform: translateY(-50%);
  transition: 1s;
  margin: 0 15px 0 55px;
}
.imgPf:hover {
  scale: 1;
  background-color: rgb(13, 107, 91);
  transition: 1s;
  cursor: pointer;
}

.imgPf:active {
  scale: 1.02;
  transition: 0.5s;
  box-shadow: 0px 0px 10px black;
}

.dados {
  color: white;
  font-size: 18px;
  margin-top: 5px;
  margin-left: 10px;
}
.inp_dados{
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-top: 5px;
  margin-left: 10px;
  width: 80%;
  min-height: 25px;
  color: rgb(255, 255, 255);
  padding: 0px 10px 0px 15px;
  background: transparent;
  border: none;
  border-bottom: 3px solid #2f7d70;
  outline: none;
  line-height: 25px;
  margin-bottom: 5px;
  font-family: "League Spartan", sans-serif;
  font-size: 25px;
}

.lbl_dados {
  color: rgb(36, 128, 117);
  font-size: 22px;
  font-weight: bold;
}
.input_file{
  display: flex;
  background: #15473f;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  margin-top: 40px;
  color: #ffffff;
 width: 45%;
 padding-left:0;
 position: relative;
 top: 50%;
 left: -46%;
 
}
.input_file svg{
  margin-top: 8px;
  height: 25px;
  color: #ffffff;
  margin-left: 22.5%;
}
.input_file_cad{
  width: 40% !important;
  left: -38%;
  top: 50%;
  position: relative;
 
 
}
input[type=file] {
  width: 45% ;
  margin: 5px !important;
  border-radius: 10% !important;
  padding: 5px;
}
.edit {
  width: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: right !important;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  background: #5a8d85;
  scale: 3;
  margin-bottom: 10px;
  width: 40%;
  background-color: #ffffff !important;
  color: #000000 !important;
  border: none !important;
  border-radius: 5px;
  margin-left: 35%;
}
.edit:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  transition: 1s;

}
.btn2 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: right !important;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  background: #5a8d85;
  margin-bottom: 10px;
  background-color: #ffffff !important;
  color: #000000 !important;
  border: none !important;
  border-radius: 5px;
  margin-left: 35%;
}
hr {
  border: 2px solid #0f3630 !important;
  padding: 0;
  width: 100%;
}
.buttons_cat{
  display: block;
margin-left: 20px;
  
}
.btn{
  
  margin-bottom: 10px;
  width: 40%;
  background-color: #ffffff !important;
  color: #000000 !important;
  border: none !important;
}
input[type="file"] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  text-align: start !important;
  padding: initial;
  border: initial;
  white-space: pre;
  overflow: hidden !important;
}

::-webkit-scrollbar {
  color: transparent;
  background-color: transparent;
  
}
.form_pf{
  width: 100%;
  height: 100%;
  
}
.cont_pf_edit{
  margin-top:-90px ; 
 }
 .cont_pf_cad{
  margin-left:30px ; 
 }
.title_perfil {
  color: rgb(34, 154, 140);
  text-align: center;
  margin: 50px 35px 30px 30px;
  margin-bottom: -20px;
  margin-left: -15%;
  font-size: 32px;
}
.title_perfil_edit {
  margin-left: -35%;
  
}

.descPf {
  overflow: scroll !important;
  word-wrap: break-word;
  min-height: 100px;
  max-height: 250px;
  width: 650px;
  border-radius: 0px 40px 0px 40px;
  text-align: justify;
  padding: 15px;
  padding-right: 15px;
  background-color: #081a17;
  color: aliceblue;
  text-indent: 1em;
  overflow-wrap: break-word;
  font-size: 18px;
  border: #1e685c solid 2px;
  hyphens: auto;
  margin-bottom: 4%;
  
}
textarea{
  min-height: 250px !important;
  width: 600px !important;
  

}
.cont_descPf {
  overflow: hidden  !important; 
  border-radius: 0px 40px 0px 40px; 
  
}
.cont_descPf_textarea {
  overflow: hidden  !important; 
  border-radius: 0px 40px 0px 40px;
  min-height: 250px !important;
  width: 600px !important;
  
}
.dados-pf {
  display: flex;
  min-height: 850px;
  max-height: 950px;
  width: 1000px;
  border-radius: 40px;
  position: relative;
  top: 5%;
  padding: 15px;
  border: #133f38 5px solid;
  background-color: #0e2824;
  overflow: hidden;
}
.dados-pf_edit{
  min-height: 800px;
  max-height: 800px;
}
.dados-pf_cad{
  min-height: 800px;
  max-height: 800px;
  padding-left: 55px;
}
.sem_foto{
  border: #c10113 5px solid !important;

}
.sem_desc{
  border: #c10113 5px solid !important;

}
.span_sem_desc{
  font-size: 20px;
  color: rgb(180, 29, 29);
  font-weight: bold;
  font-weight: bold;
  margin-left: 10px;
}