

/* ----------------------------------------------------------------------------------------------------------- */



.screen_exibition_ini { 
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, black 50%, transparent), url('../imgs/mud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45pc;
    padding: 15pc 10px;
    opacity: 0;
}

.screen_exibition_ini.apareceu { 
  opacity: 1;
}
.button_top_home{
  text-decoration: none;
  color: white !important;
}
.row{
  width: 110% !important;
  margin-left: -5%;
}
.slogan_home {
    color: rgb(0, 128, 111);
    margin-left: 240px;
    font-size: 36pt;
    animation: reverse Animation_slogan 500ms 1 ease-out 520ms;
}


@keyframes Animation_slogan {
    to {
        transform: translate(278px, -2px) scale(1.2, 1.2);
    }
}

.box_button {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.box_button button {
    background-color: rgb(0, 128, 111);
    color: #ffffff;
    width: 250px;
    height: 50px;
    margin-top: 110px;
    font-size: 14pt;
    font-weight: 600;
    border: solid 2px rgba(0, 247, 255,0.5);
}

.box_button button:hover {
    cursor: pointer;
    background-color: rgb(37, 121, 109);
    box-shadow: 2px 2px 18px rgb(0, 85, 74), -2px -2px 18px rgb(0, 148, 128);
}

.bloco_pesquisa {
    background-color: rgb(0, 128, 111);
    height: 50px;
    width: 50%;
    margin-top: 160px;
    margin-bottom: 100px;
    margin: 160px 30% 180px 25%;
    justify-content: center;
    display: flex;
    border-radius: 25px;
    border: solid 1px rgb(0, 247, 255);
}

#input_of_search_ini {
    background-color: rgb(0, 128, 111);
    color: rgb(255, 255, 255);
    font-size: 14pt;
    height: 40px;
    width: 80%;
    margin-top: 5px;
    border: none;
    outline: none;
}

#input_of_search_ini::placeholder {
    color: rgb(194, 193, 193);
}

.icon_filtro_barra_search_ini {
    height: 30px;
    width: 30px;
    position: absolute;
    color: #000000;
    margin-top: 10px;
    margin-right: 45%;
}

.icon_lupa_barra_search_ini {
  background-color: #000000;
  height: 30px;
    width: 30px;
    position: absolute;
    margin-left: 45%;
    margin-top: 10px;
    color: #ffffff;
}


.bloco_information_services{
    margin: 0;
    padding: 0;
    background: linear-gradient(170deg, #000000 50%, rgb(0, 128, 111)  ,  rgb(0, 0, 0) 60%);
    width: 100%;
    height: 45pc;
    padding: 15pc 5pc;
    box-shadow: -11px -31px 69px 51px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.roguete_animation{
  height: 600px;
  border: none;
  rotate: -10deg;
}

.conteiner_text_services_ofe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 190px 0 0 0;
    max-width:900px ;
    max-height: 500px;
}

.title_section_seg{
    color: rgb(0, 148, 128);
    text-align: center;
    margin-top: -120px;
    position: absolute;
}


.box_text_services{
    width: 400px;
    height: 100px;
    background-color: #000000;
    color: rgb(0, 148, 128);
    transform: skew(-20deg);
    text-align: center;
    font-size: 16pt;
    margin: 20px;
    padding: 50px 10px;
    border-width: 5px;
    border-style:solid;
    border-image: linear-gradient( 90deg, rgb(0,128,111) 30%, #2c00cc);
    border-image-slice: 1;
    text-decoration: none;
  }
.box_text_services p { margin: -20px 0 0 0;}

.box_text_services:hover{
    box-shadow: 2px 2px 18px rgb(0, 85, 74), -2px -2px 18px rgb(0, 148, 128);
    transform:scale(1.1);
}

.bloco_contrate_profissionais{
  height: 45pc;
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  position: relative;
}

.bloco_contrate_profissionais h3, .bloco_seja_profissional h3{
  color: rgb(0, 148, 128);
  font-size: 36pt;
  margin-top: 40px;
}

.bloco_de_texto{
  font-size: 20pt;
  text-align: justify;
  margin: 25px 0;
  color: white;
}

.img_ctrtPf{
  height: 550px;
  width: 900px;
  margin: 50px;
  border-radius: 25px;
  border: solid 2px #00917e;
}

.box_text_ctrtPf{
  text-align: center;
  height: 450px;
  width: 900px;
  padding: 10px 40px;
  margin: -145px 0 0 0;
}

.bloco_seja_profissional{
  height: 45pc;
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background: linear-gradient(170deg, #000000 50%, rgb(0, 128, 111)  ,  rgb(0, 0, 0) 60%);
}

/* ajustes vantagens da tecnomade */

/* padding: 0;
width: 70%;
justify-self: center;
display: flex;
padding: 0 200px;
justify-content: center;
margin: 0;
flex-wrap: wrap;

padding: 0;
width: 70%;
justify-self: center;
display: flex;
padding: 0 200px;
justify-content: center;
margin: 0;
flex-wrap: wrap; */


.bloco_vantagens_tecomade{
    background-color: #000000;
    width: 100%;
    text-align: center;
}

.title_section_tec{
  font-size: 36pt;
  margin-top: 60px;
  color: #00917e;
}

.conteiner_advantage_and_disadvantage{
    padding: 0;
    display: flex;
    padding: 0 200px;
    justify-content:  space-around;
    margin:0;
    flex-wrap: wrap;
}

.lista_advantage{list-style-type: none; }
.lista_advantage li span p {
  font-size: 18pt;
  font-weight: 100;
}

.box_vantagens_tecnomade{
  margin: 180px 0 0 90px;
  position: absolute;
}

.box_vantagens_tecnomade ul li{ margin: 20px 0; }

.tecnomade_title_vantagens, .tecnomade_title_desvantagens {
  padding: 10px 0;
  margin-left: -72px;
  text-align: center;
  font-weight: 300 !important;
}

.e-card {
  margin: 100px auto;
  background: rgba(0, 123,111, 0.363);
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  text-align: center;
  align-items: center;
  width: 500px;
  height: 780px;
  padding: 30px;
  border-radius: 40px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 840px;
  height: 900px;
  opacity: 0.6;
  left: -15%;  
  top: 100px;
  margin:0px;
  background: linear-gradient(744deg,#02d4b1,#00917e 60%,#000000);
}


.infotop {
  height: 1000px;
  width: 600px;
  text-align: left;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 25px;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;

}

.img_vantagens_tecnomade, .img_cncrt_erro_check{
  width: 30px;
  position: absolute;
  left:-20px ;
  filter: saturate(25); 
}
.img_representa_tecnomade{
  height:250px;
  width:250px;
  margin: -260px 0 0 0;
}

.img_representa_tecnomade, .img_representa_outros{
  position: absolute;
  filter: drop-shadow(6px 6px 6px white);
}

.img_representa_outros{
  margin: -240px 0 0 0;
  height: 210px;
  width: 210px;
  left: 31px;
}

.img_representa_tecnomade, .img_representa_outros,.img_vantagens_tecnomade, .img_cncrt_erro_check {
  user-select: auto;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}


.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.section_info_garantia_tecno{
  background: linear-gradient(190deg, #000000 50%, rgb(0, 128, 111), rgb(255, 255, 255) 60%);
  width: 100%;
  height: 45pc;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px 5pc 30px ;
}

.img_security_garantia_aperto{
  height: 510px;
    width: 900px;
    border-radius: 50px;
    margin: 0 0 0 -80px;

}
.box_text_info_garantia {
  position: relative;
  max-width: 900px;
  margin: 0;
  padding:30px;
  flex: 2;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(27, 50, 48, 0.3);
  border-radius: 50px;
  box-sizing: border-box;
  border: solid 2px #00917e;
}


.box_text_info_garantia h3{
  font-size: 36pt;
  color: #00917e;
  font-family: "League Spartan", sans-serif;
  text-transform: capitalize;
}

.box_text_info_garantia p{
  font-size: 20pt;
  text-align: justify;
  margin:  15px 0;
  color: #ffffff;
  border-radius: 12px;
  padding: 15px;
}

.img_garantia_segurança_tecno{
  height: 250px;
  width: 250px;
  position: absolute;
  margin-left: -180px;
  margin-top: 350px;
  filter: drop-shadow( 0px 19px 40px rgb(0, 0, 0));
}


.btn-saiba_more_garantia  {
  --green: rgb(0,128,111);
  font-size: 16pt;
  font-weight: 600;
  height: 65px;
  width: 500px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  margin: 20px 0;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(0, 128, 111, 0.685), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.btn-saiba_more_garantia:hover {
  color: #ffffff;
  box-shadow: inset 0 0 10px rgba(0, 128, 111, 0.767), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.btn-saiba_more_garantia:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(0, 125, 110, 0.596), rgba(0, 125, 110, 0.596) 60% , transparent 100%);
}

.btn-saiba_more_garantia:hover:before {
  transform: translateX(30em);
}


.conteiner_perfils {
  background: linear-gradient(33deg, rgb(0, 123, 111) 20%, white 40%);
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 60px;
  overflow: hidden;
}

.title_section_for{ 
 background-color: white;
 text-align: center;
 padding: 10px;
}

.title_section_for h3{
  color: rgb(0, 148, 128);
  font-size: 36pt;
  padding: 10px 0; 
  margin-top:-10px ;
}


.box__perfil {
  background-image: url("https://i.gifer.com/origin/d4/d490dc54beef3be1ddd68434d8dea621_w200.gif") !important;
  background-size: cover;
  height: 475px;
  width: 330px;
  margin: 20px;
  padding: 20px;
  display: grid;
  justify-items: center;
  text-align: left;
  align-self: center;
  color: rgb(0, 128, 111);
  border: solid 1px rgb(0, 128, 111);
  border-radius: 25px;
  box-shadow: 7px 7px 14px #000000;
}

.img_perfil_of_box {
  height: 150px;
  width: 150px;
  display: block;
  margin: 20px 0 20px 25px;
  border-radius: 50%;
}

.name_of_box_perfils {
  font-size: 18pt;
  font-weight: 600;
}

.descrytion_of_box_perfils {
  margin: 0 !important;
  text-align: center;
  font-size: 16pt !important;
}
.title_card_esp{
  margin: 0 !important;
}
.box__perfil:hover {
  transform: scale(1.1);
}

.valorAvaliacao {
  margin: 3px 5px 0 5px;
  float: right;
}

.text_avaliation_star_value{
  margin-left: 10px;
}

.img_star_box_perfils {
  width: 135px;
  height: 35px;
}


.cap_shadow {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cap_shadow a{
  text-decoration: none;
}

.button_ver_mais {
  text-decoration: none;
  font-size: 15pt;
  background-color: black;
  color: rgb(0, 128, 111);
  border-radius: 10px;
  border: solid 2px rgb(0, 128, 111);
  position: absolute;
  margin: -180px 0 0 0;
  padding: 5px 15px;z-index: 10;
}

.button_ver_mais:hover {
  background: linear-gradient( 120deg, rgb(0,128,111) 20%, #000000);
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}


.container_recommendations {
  background-color: #000000;
  width: 100%;
  height: auto;
  margin-top: -10pc;
  z-index: 9;
  position: relative;
  display: inline-block;
  padding: 0 40px;
  box-shadow: -11px -31px 69px 51px #000000;
  border-top: solid 2px rgb(0, 128, 111);
}
.bloco_titulo_recomendação h2{ font-size: 36pt; }

.bloco_titulo_recomendação {
  color: rgb(0, 148, 128);;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
  font-size: 28pt;
  padding: 30px;
  margin: 50px 0 0 0;
  line-height: 3rem;
}

.conteiner_comentario_recomendacao {
  display: flex;
  height: auto;
  width: 100%;
  padding: 20px 20px 0 20px;
  justify-content: space-around;
}

.bloco_comentario_recomendacao {
  padding: 60px;
  margin: 40px;
  text-align: justify;
  width: 40vmax;
  height: auto;
  font-size: 18pt;
  color: #118b8f; 
}
.bloco_comentario_recomendacao p:nth-child(2) {
  margin: 20px 0 0 0 ;
  text-align: left;
  color: #5e5e5e;


}
.img_comentario_aspas{
  height: 80px;
  width: 80px;
  float: left;
  margin: -85px 0 0 -75px ;
}



.conteiner_sobrenos_ {
  margin: 0;
  padding: 0;
  background: linear-gradient(170deg, #000000 50%, rgb(0, 128, 111)  ,  rgb(0, 0, 0) 60%);
  width: 100%;
  height: 45pc;
  padding: 0 5pc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}


.carrossel {
  text-align: center;
  position: relative;
  margin-bottom: 80px;  
}
  
    .carrossel button {
    background: #000000;
    border-radius: 50%;
    border: 1px solid rgb(0, 255, 255);
    padding: 10px 10px;
    display: flex;
    position: absolute;
    bottom: 200px; 
    filter: drop-shadow( 0 0 10px rgb(0, 128, 111));  
    }
    
    .carrossel button:hover{
      background: linear-gradient( 120deg, rgb(0,128,111) 20%, #000000);
      fill: #fff;
      
    }

    .carrossel .botao-esquerdo{left: 15px;}
    .carrossel .botao-direito{right: 15px;}
    .icon_carrossel_esquerdo{rotate: 180deg;}


    .carrossel .texto-carrossel {
    font-weight: bold;
    font-size: 3rem;
    position: absolute;
    bottom: 20px;
    left: 140px;
    text-align: left;
    color: #ecf0f1; }
    
    .carrossel .texto-carrossel p {margin: 0; }

      .fotus{
            margin: auto;
            display: flex;
            justify-content: center;
            border-radius: 20px;
            height: 500px;
            width: 800px;
            border: 5px solid rgb(0, 125, 111);  
        }

        .tecnomade_logo_in_carrossel{
          position: absolute;
          margin: -380px 0 0 -175px;
        }

      .indicadores {
          text-align: center;
          margin-top: -40px;
      }
      .indicador {
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: #5f5f5f;
          border-radius: 50%;
          margin: 0 5px;
          cursor: pointer;
      }
      .indicador.ativo {
          background-color: #00917e;
      }

      .box_text_story{
        background-color: #2e2e2e00;
        height: 450px;
        width: 850px;
        margin: -140px 0 0 40px;
        padding: 10px 40px;
        text-align: center;
      }

      .box_text_story h3{
        color: rgb(0, 148, 128);
        font-size: 36pt;
        padding: 10px 0;
      }

      .container_story-text{
        font-size: 20pt;
        text-align: justify;
        padding: 10px 0;
        color: white;
      }


.btn-saiba_more_story  {
  --green: rgb(0,128,111);
  font-size: 20px;
  height: 65px;
  width: 500px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  margin: 20px 0;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(0, 128, 111, 0.685), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.btn-saiba_more_story:hover {
  color: #ffffff;
  text-shadow: -2px 2px 10px rgb(255, 255, 255);
  box-shadow: inset 0 0 10px rgba(0, 128, 111, 0.767), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.btn-saiba_more_story:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.btn-saiba_more_story:hover:before {
  transform: translateX(30em);
}




.conteiner_FAQ_duvida {
  margin: 0;
  padding: 0;
  background: linear-gradient(190deg, #000000 50%, rgb(0, 128, 111), rgb(255, 255, 255) 60%);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 45pc;
  align-items: center;
  padding: 5pc;
  outline: none;
}

.faq{
  margin-top: -10pc ;
}

.faq .accordion .card {
border: none;
}
.faq .accordion .card:not(:first-of-type) .card-header:first-child {
border-radius: 10px; }
.faq .accordion .card .card-header {
border: none;
border-radius: 10px;
padding: 0; 
}
.faq .accordion .card .card-header h5 {
padding: 0; }

.faq .accordion .card .card-header h5 button {
  color: #00ffea;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 0 70px 0 70px;
  height: 80px;
  display: block;
  width: 600px;
  text-align: left;
  border-radius: 15px;
  position: relative; 
  border: none;
}
.margin_ajust_faq{
  margin-left: -100px;
}

.card-body{ color: #fff; }

  .faq .accordion .card .card-header h5 button:after {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: #02c4ca;
    text-align: center;
    border-radius: 15px;
    line-height: 100%;
    content: '\f067';
    font-size: 14pt;
    line-height: 18px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
  }


  .faq .accordion .card .card-header h5 button.collapsed {
    background: #000000;
    border-radius: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }


.faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
  content: '\f068';
  color: #fff;
  background-image: -webkit-linear-gradient(-30deg, #000 0%, #00eeff 100%); }

.faq .accordion .card .card-body { 
  border-radius: 15px;
  color:white;
  font-size: 14pt;
  text-align: justify;
}

.faq .accordion .card {
  border: none;
  width: 630px;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: black;
  border-width: 5px;
  border-style:solid;
  border-image: linear-gradient( 90deg, rgb(0,128,111) 30%, #2c00cc);
  border-image-slice: 1;
}

.faq .accordion .card .card-header h5 {
  padding: 0;
  margin: 0 10px 0 0;
  border-radius: 15px;
  display: block;
  position: relative;
  
}

.section-title_text-center h2{
  text-align: center;
  margin-top: 30px;
  padding: 50px;
  font-size: 36pt;
  color: #00917e;
}



:root{
  --chat-thread-bgd-color: rgba(25, 147, 147, 0.2);
  --chat-thread-msg-arrow-size: 10px;
  --chat-thread-avatar-size: 25px;
  --chat-thread-offset: #{$chat-thread-avatar-size + 20px};
  --default-shadow-color: rgb(0, 0, 0);
        }
  

/* ----- chat ficava aqui */


