/* .rating {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
margin: 0;
}

.rating input {
    display: none;
}

.rating label {
    margin-top: 0;
    justify-content: space-evenly;
    font-size: 50px;
    color: #aaa;
    float: right;
}


.rating input:checked~label {
    color: rgb(250, 178, 71);
} */
#avPf {
text-align: center;
width: 100%;
}

.estrelas input[type="radio"] {
    display: none;
}

.estrelas label {
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
    font-size: 50px;
    justify-content: space-evenly;
    margin: auto;
}

.avaliacao {
    width: 340px;
    margin-bottom: 50px;
    margin-top: 250px;
}

.estrelas {
    flex-direction: row-reverse;
    display: flex;
}


.estrelas label:hover,
.estrelas input[type="radio"]:checked~label {
    color: #ffcc00;

}

#btn-avaliar {
    position: relative;
    justify-content: center;
    display: flex;
    margin: auto;
    color: green;
}

#btn-contratar {
        position: absolute;
        right: 140px;
        top: 200px;
        text-align: center;
        color: #00917e;
        font-weight: bold;
        font-size: 24px;
        font-size: 26px;
        background-color: #000000;
        border: solid 2px #00917e;
        width: 350px;
        padding: 10px;
        border-radius: 10px;
}

#btn-contratar:hover {
    scale: 1.05;
    text-decoration: none;
    filter: drop-shadow( 0 0 10px #00917e);
    text-shadow: 0 0 10px #00917e;
}

.estrelas label:before {
    content: '★';
    margin: 5px;
}

.cont {
    height: 130% !important;
    background-color: #000000;
    margin-bottom: 15%;
}

.imgPf {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
    margin: 230px 60px 0;
    border-bottom: 5px solid #00917e;
    box-shadow: 0 0 10px black;
}

.nome_profissional_tt{
    color: aliceblue;
    position: absolute;
    margin-top: -55px;
    margin-left: 15px;
}

.descPf {
    background-color: #081a17;
    border-radius: 10px;
    padding: 25px;
    overflow: scroll;
    width: 700px;
    display: flex;
    hyphens: auto;
    word-wrap: break-word;
    text-align: justify;
}
#cat{
    color: rgb(0, 148, 128);
    margin-bottom: 20px;
    margin-left: 70px;
    font-size: 28pt;
    display: flex;
    justify-content: left;
    position: relative;
}

.cat {
    color: aliceblue;
    list-style-type: square;
    text-align: left;
    font-size: 20pt;
    position: relative;
    margin-left: 60px;
    width: 400px;
}

.sequiser{display: flex;}

.top {
    width: 100%;
    height: 385px;
    display: flex;
    align-items: center;
    padding: 25px 10px 25px 10px;
    position: relative;
    top: 100%;
    border-bottom: #00917e solid 5px ;
    background-color: #000000;
    margin-bottom: 10pc;
}


label,
p {
    color: aliceblue;
    font-size: 25pt;
    display: block;
}
#lbl_desc{
    text-align:center;
    width: 100%;
}
form {
    margin: 0;
}

.container_perfil {
    margin-top: 3%;
}

.ajustCat {
    margin-top: 0;
}

.box_dados_pf_dd_cat_desc{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dd_info_pf label {
    font-size: 28pt;
    color: #00917e;
}